.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* Trays */
.card-tray{
  height: 130px ;
  width:auto;
  border: solid;
  justify-content: center;
}

/* Card */
.card-unit {
  height:100%;
  width:100px;
  justify-content: center;
  transform: scale(1.0);
  transition-duration: .4s;
}

.card-unit:hover {
  transform: scale(1.2);
  transition-duration: .5s;
  border-color: green;
  z-index: 2;
}


.card-content {
  padding: 12px;
}

.card-img{
  width: 98%;
  max-height: 100%;
}

.strength{
  color: red;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: solid; 
  border-width: 2px;
  border-color: red;
  margin-top: 8px;
  margin-left: 1px;
  text-align: center;
}
